[user]
	name = Lumynous
	email = lumynou5.tw@gmail.com
	signingKey = ~/.ssh/lumynou5.pub
[core]
	excludesFile = ~/.gitignore
	editor = nvim
[gpg]
	format = ssh
[init]
	defaultBranch = main
[commit]
	gpgSign = true
[stash]
	showPatch = true
[tag]
	forceSignAnnotated = true
	gpgSign = true
[merge]
	ff = false
[pull]
	ff = true
[push]
	autoSetupRemote = true
[log]
	date = iso
[alias]
	drop = "!command git stash -u && command git stash drop; echo >/dev/null"
	ff = merge --ff-only
	graph = log --all --graph --color --decorate --oneline
	init-with-ignore = "!command git init && command curl https://raw.githubusercontent.com/github/gitignore/main/$1.gitignore >.gitignore; echo >/dev/null"
	unstage = reset HEAD --
