[user]
	email = lumynou5.tw@gmail.com
	name = lumynou5
	signingKey = ~/.ssh/lumynou5.pub
[core]
	excludesFile = ~/.gitignore
	editor = nvim
[gpg]
	format = ssh
[commit]
	gpgSign = true
[tag]
	forceSignAnnotated = true
	gpgSign = true
[init]
	defaultBranch = main
[merge]
	ff = no
[alias]
	ff = merge --ff-only
